//- layout
doctype html
head
    title Choc BERI
    meta(charset="utf-8")
    meta(name="description" content="Basic HTML5 template")
    meta(name="author" content="My Name")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel="stylesheet" 
         href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
         integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
         crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="./assets/semantic/semantic.min.css")
    script(
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")
    script(src="./assets/semantic/semantic.min.js")
    script(src="./assets/ace/ace.js")
    link(rel="stylesheet" type="text/css" href="./assets/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
        
    //- noUiSlider
    script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.css" rel="stylesheet")
body
    .container
        include _logo
        include _side-bar
        include _top-bar
        .main
            block main
    script(src="./assets/scripts.js")