- var active_class = 'menu__link--active'
- var link_dashboard = '/dashboard'
- var link_browse_files = '/browse-files'
- var link_upload_files = '/upload-files'
- var link_feature_status_lab = '/feature-status-lab'
- var link_upload_scripts_lab = '/upload-scripts-lab'
- var link_feature_status_fac = '/feature-status-fac'
- var link_upload_scripts_fac = '/upload-scripts-fac'
- var link_predictive_feature_metrics = '/predictive-feature-metrics'
- var link_create_feature_store = '/create-feature-store'
- var link_batch_mangement_lab = '/batch-management-lab'
- var link_batch_mangement_fac = '/batch-management-fac'

block link

.side-bar
    .menu
        .menu__item
            a.menu__link( title="Dashboard" 
                          class=( path === 'dashboard' ? active_class : '' ) 
                          href=link_dashboard )
                i.fas.fa-tachometer-alt.menu__icon
                .menu__label Dashboard

        .menu__group.menu__group--expand
            .menu__title
                    span.menu__heading Exploratory
                    i.menu__group__icon.fas.fa-angle-up
                    i.menu__group__icon.fas.fa-angle-down
            .menu__item
                a.menu__link( title="Browse Files" 
                              class=( path === 'browse-files' ? active_class : '' ) 
                              href=link_browse_files )
                    i.fas.fa-folder-open.menu__icon
                    .menu__label Browse Files
        
            .menu__item
                a.menu__link( title="Upload Files" 
                              class=( path === 'upload-files' ? active_class : '' ) 
                              href=link_upload_files )
                    i.fas.fa-file-upload.menu__icon
                    .menu__label Upload Files
        
        .menu__group.menu__group--expand
            .menu__title
                span.menu__heading Laboratory
                i.menu__group__icon.fas.fa-angle-up
                i.menu__group__icon.fas.fa-angle-down
    
            .menu__item
                a.menu__link( title="Feature Status - Lab" 
                              class=( path === 'feature-status-lab' ? active_class : '' ) 
                              href=link_feature_status_lab )
                    i.fas.fa-list-ul.menu__icon
                    .menu__label Feature Status - Lab
            
            .menu__item
                a.menu__link( title="Upload Scripts - Lab" 
                              class=( path === 'upload-scripts-lab' ? active_class : '' ) 
                              href=link_upload_scripts_lab )
                    i.fas.fa-upload.menu__icon
                    .menu__label Upload Scripts - Lab
        
        .menu__group.menu__group--expand
            .menu__title
                span.menu__heading Factory
                i.menu__group__icon.fas.fa-angle-up
                i.menu__group__icon.fas.fa-angle-down

            .menu__item
                a.menu__link( title="Feature Status - Fac" 
                              class=( path === 'feature-status-fac' ? active_class : '' ) 
                              href=link_feature_status_fac )
                    i.fas.fa-th.menu__icon
                    .menu__label Feature Status - Fac

            .menu__item
                a.menu__link( title="Upload Scripts - Fac" 
                              class=( path === 'upload-scripts-fac' ? active_class : '' ) 
                              href=link_upload_scripts_fac )
                    i.fas.fa-upload.menu__icon
                    .menu__label Upload Scripts - Fac

        .menu__group.menu__group--expand
            .menu__title 
                span.menu__heading Feature
                i.menu__group__icon.fas.fa-angle-up
                i.menu__group__icon.fas.fa-angle-down

            .menu__item
                a.menu__link( title="Predictive Feature Metrics" 
                              class=( path === 'predictive-feature-metrics' ? active_class : '' ) 
                              href=link_predictive_feature_metrics )
                    i.fas.fa-chart-line.menu__icon
                    .menu__label Predictive Feature Metrics
            
            .menu__item
                a.menu__link( title="Create Feature Store" 
                              class=( path === 'create-feature-store' ? active_class : '' ) 
                              href="/create-feature-store" )
                    i.fas.fa-cart-plus.menu__icon
                    .menu__label Create Feature Store
            
        .menu__group.menu__group--expand
            .menu__title                
                span.menu__heading Batch Management
                i.menu__group__icon.fas.fa-angle-up
                i.menu__group__icon.fas.fa-angle-down

            .menu__item
                a.menu__link( title="Laboratory Management" 
                              class=( path === 'batch-management-lab' ? active_class : '' ) 
                              href=link_batch_mangement_lab )
                    i.fas.fa-flask.menu__icon
                    .menu__label Laboratory Management
            
            .menu__item
                a.menu__link( title="Factory Management" 
                              class=( path === 'batch-management-fac' ? active_class : '' ) 
                              href=link_batch_mangement_fac )
                    i.fas.fa-city.menu__icon
                    .menu__label Factory Management
        
